.navbar {
    background-color: #025464;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color:antiquewhite;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    content: '';
    opacity: 1;
}

h1 {
    color:#FFD53D;
    text-align: center;
}

body {
    background-color: #5F9EA0;
    color: #050A30;
    font-size: 20px;

}

span {
    color: #050A30;
    font-weight: bold;
    font-size: 20px;
  }
