{% extends 'base.html' %}

{% block content %}

<h1 class="home_h1_1">WELCOME TO AQUILLA'S</h1>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap" rel="stylesheet">

<body>

    <section>
        <video class="home_background" src="static/videos/home_background.mp4" autoplay loop playsinline muted></video>
    </section>

    <img class="home_logo" src="static/images/logo.png" alt="logo">

</body>

<h1 class="home_h1_2">JAMJAM'S INTERNSHIP PROGRAMS!</h1>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap" rel="stylesheet">

{% endblock %}
