{% extends 'base.html' %}

{% block content %}
<h1>Choose an Internship!</h1>
<p>Browse through the links below to find different internship opportunities:</p>
<ul>
    <li><a href='/internships/business-development'><span>Business Development</span></a></li>
    <li><a href='/internships/computer-science'><span>Computer Science</span></a></li>
    <li><a href='/internships/sports'><span>Sports</span></a></li>
    <li><a href='/internships/medicine'><span>Medicine</span></a></li>
    <li><a href='/internships/economics'><span>Economics</span></a></li>
    <li><a href='/internships/statistics'><span>Statistics</span></a></li>
    <li><a href='/internships/education'><span>Education</span></a></li>
    <li><a href='/internships/marketing'><span>Marketing</span></a></li>
    <li><a href='/internships/culinary'><span>Culinary</span></a></li>
</ul>
{% endblock %}