{% extends 'base.html' %}

{% block content %}
<h1>Choose an Internship!</h1>
<p>Browse through the links below to find different internship opportunities:</p>
<ul>
    <li><a href='/internships/Business Development'><span>Business Development</span></a></li>
    <li><a href='/internships/Computer Science'><span>Computer Science</span></a></li>
    <li><a href='/internships/Sports'><span>Sports</span></a></li>
    <li><a href='/internships/Medicine'><span>Medicine</span></a></li>
    <li><a href='/internships/Economics'><span>Economics</span></a></li>
    <li><a href='/internships/Statistics'><span>Statistics</span></a></li>
    <li><a href='/internships/Education'><span>Education</span></a></li>
    <li><a href='/internships/Marketing'><span>Marketing</span></a></li>
    <li><a href='/internships/Culinary'><span>Culinary</span></a></li>
</ul>
{% endblock %}