{% extends 'base.html' %}

{% block content %}
<h1 class="index_h1">CHOOSE AN INTERNSHIP!</h1>
<p class="index_subtext"> Browse through the links below to find different internship opportunities:</p>
<ul class="index_list">
    <li><a href='/internships/Business Development'>Business Development</a></li>
    <li><a href='/internships/Computer Science'>Computer Science</a></li>
    <li><a href='/internships/Sports'>Sports</a></li>
    <li><a href='/internships/Medicine'>Medicine</a></li>
    <li><a href='/internships/Economics'>Economics</a></li>
    <li><a href='/internships/Statistics'>Statistics</a></li>
    <li><a href='/internships/Education'>Education</a></li>
    <li><a href='/internships/Marketing'>Marketing</a></li>
    <li><a href='/internships/Culinary'>Culinary</a></li>
</ul>
{% endblock %}